server {
    listen 80;
    listen [::]:80;

        root /var/www/greatcrypto-euro.com;
        index index.php index.html index.htm;
        error_page 404 = /index.php; #Для кло "ключкампания"
        try_files $uri $uri/ =404;
        server_name {{ domain }};

        access_log /var/log/nginx/{{ domain }}.access.log comb_time;
        error_log /var/log/nginx/{{ domain }}.error.log;

        add_header Cache-Control public;
        expires 1y;

        gzip on;
        gzip_disable "msie6";
        gzip_vary on;
        gzip_proxied any;
        gzip_min_length 256;
        gzip_http_version 1.1;
        gzip_comp_level 6;
        gzip_buffers 16 8k;
        gzip_types *;

        location ~ /\. {
                deny all;
        }

        location ^~ /log/ {
                allow 127.0.0.1;
                deny all;
        }

        location = /README.md {
                allow 127.0.0.1;
                deny all;
        }


        location = / {
        alias /var/www/greatcrypto-euro.com/wt/$host;
        include /etc/nginx/fastcgi_params_php7.4;
        }

        location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar|svg|mp4|ttf|woff|woff2|webp)$ {
            if (-f /var/www/greatcrypto-euro.com/wt/$host$request_uri) {
                    root /var/www/greatcrypto-euro.com/wt/$host;
                }
        }

        location ~* "^\/([0-9a-zA-Z\-\_]{0,})([\/]{0,1})([^a-z0-9A-Z]*)$" {     #Для работы кло "Ключкампания"
        alias /var/www/greatcrypto-euro.com/wt/$host;
        index /index.php;
        try_files $uri $uri/ @clo;
        }

        location @clo {
            try_files $uri $uri/ /index.php$is_args$args;
        }

    location @catch {
        add_header content-type text/html;
        return 200 "catch";
    }

        location ~ \.php$ {
        if (-d /var/www/greatcrypto-euro.com/wt/$host$request_uri) { #Меняем $document_root если amleton.cz/o-nas/ существует
            root /var/www/greatcrypto-euro.com/wt/$host$request_uri;
        }

        set $script_filename $document_root$fastcgi_script_name;
        if (-f /var/www/greatcrypto-euro.com/wt/$host$request_uri) {
            set $script_filename /var/www/greatcrypto-euro.com/wt/$host$request_uri;
        }

                fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                try_files $fastcgi_script_name @catch;
                set $path_info $fastcgi_path_info;
                fastcgi_param PATH_INFO $path_info;
                fastcgi_index index.php;

                fastcgi_param  ENV_FILE ".env{{ env }}"; #Для работы кло "Ключкампания"

                fastcgi_param  SCRIPT_FILENAME    $script_filename;
                fastcgi_param  QUERY_STRING       $query_string;
                fastcgi_param  REQUEST_METHOD     $request_method;
                fastcgi_param  CONTENT_TYPE       $content_type;
                fastcgi_param  CONTENT_LENGTH     $content_length;

                fastcgi_param  SCRIPT_NAME        $fastcgi_script_name;
                fastcgi_param  REQUEST_URI        $request_uri;
                fastcgi_param  DOCUMENT_URI       $document_uri;
                fastcgi_param  DOCUMENT_ROOT      $document_root;
                fastcgi_param  SERVER_PROTOCOL    $server_protocol;
                fastcgi_param  HTTPS              $https if_not_empty;

                fastcgi_param  GATEWAY_INTERFACE  CGI/1.1;
                fastcgi_param  SERVER_SOFTWARE    nginx/$nginx_version;

                fastcgi_param  REMOTE_ADDR        $remote_addr;
                fastcgi_param  REMOTE_PORT        $remote_port;
                fastcgi_param  SERVER_ADDR        $server_addr;
                fastcgi_param  SERVER_PORT        $server_port;
                fastcgi_param  SERVER_NAME        $server_name;

                fastcgi_param  REDIRECT_STATUS    200;

        }

}